*{
    margin: 0%;
    padding: 0%;
}
/* share */
.btn{
    background-color: #469165;
    color: white;
    padding: 12px 16px;
    font-weight: 600;
    /* gap: 10px; */
    border-radius: 5px;
}
.btn:hover{
    cursor: pointer;

}



/* not share */
                               /* my nav style */
#nav-container{
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 16px 120px;
    /* border: 1px solid red; */
    /* height: 92px;
    width: 1600px; */

}
#nav-container .nav-logo{
    height:60px ;
    width:139px ;
}
#nav-container .nav-header{
    display: flex;
    list-style-type: none;
    gap: 32px;
    /* align-items: center; */
    padding-top: 24px;
    
    

}
#nav-container .nav-header a {
    text-decoration: none;
    font-weight: 500;
    line-height: 152%;
    color: black;
}

                            /* my hero section */
#hero-container{
    height:354px ;
    width: 1520px;
    background-image:url(assets/hero-bg.png);

}

.hero-all-content {
    text-align: center;
    padding-top: 20px;
}




.hero-main-content p{
    font-weight: 400;
    line-height: 20px;
    color: #f8f8f8f2;
    margin-bottom: 30px;
}
.hero-main-content h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    color:#fefeff;
}
.hero-main-content span{
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    color:#30B868;
    
}
.hero-form{
    image
}
#white-btn{
    /* color: white; */
    padding: 12px 16px;
    font-weight: 600;
    /* gap: 10px; */
    border-radius: 5px;
}


                                /* my note section */
#note-container {
    height: 348px;
    /* border: 1px solid red; */
    padding:  0px 120px;
    gap: 24px;
}
#note-container .note-header {
    /* border: 1px solid red; */
    text-align: center;
    height: 152px;
    width: 1360px;
}
#note-container .note-header h1 {
    font-weight: 700px;
    font-size: 48px;
    line-height: 100%;
    color: #001931;
    padding: 36px 0 16px 0;
    text-align: center;
    margin: 0 auto;
}
#note-container .note-header p{
    font-weight: 400;
    line-height: 20px;
    color: #627382;
}
#note-container .note-card {
    /* border: 1px solid red; */
    text-align: center;
    height: 300px;
    width: 1360px;
    margin-top: 30px;
    display: flex;
    /* flex-wrap: wrap; */
}
.note-card .note-card-section {
    /* border: 1px solid blue; */
    height: 300px;
    width: 300px;
    margin-right:10px;
    border-radius: 10px;
    /* box-shadow:; */
    
 }
.note-card .note-card-section img {
    height: 60px;
    width: 6opx;
    border-radius: 50%;
    background-color: #F95555;
    margin: 69px 131px 0;
}
.note-card .note-card-section h2 {
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    margin: 16px 0;
    line-height: 100%;
}
.note-card .note-card-section p {
     color: #627382;
     font-weight: 400;
     line-height: 20px;
}

                                 /* my brain section */

#brain {
    height:540px;
    padding: 120px;
    text-align: center;
    /* border: 2px solid red; */
}
#brain .brain-section {
    display: flex;
    height: 600px;
    width: 1360px;
    /* border: 2px solid red; */
}
#brain .brain-section .brain-img {
    height: 600px;
    width: 600px;
    border-radius: 12px;
    margin-right: 60px;
}
#brain .brain-section .brain-content {
    width: 700px;
    height: 395px;
    /* border: 2px solid red; */
    margin: 102px 0 ;
    text-align: left;
}
.brain-content .main-brain {
    height: 228px;
    /* border: 1px solid red; */
}
.brain-content .main-brain h6 {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #30B868;
    margin-bottom: 15px;

}
.brain-content .main-brain h2 {
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    color:#001931;
}
.brain-content .main-brain p {
    font-weight: 400px;
    line-height: 20px;
    height: 60px;
    color:#627382 ;
    margin-top: 16px ;
} 
.ops-content div{
    display: flex;
    margin-bottom: 16px;
    
}
                             /* my lower-section */
#lower-section {
    height:300px ;
    width: 1280px;
    /* border: 2px solid red; */
    align-items: center;
    padding: 2px 120px 120px 120px;
} 
#lower-section .lower-content {
    height: 300px;
    width: 1200px;
    padding: 80px 40px 80px 40px;
    background-color: rgb(223, 222, 214);
    /* border: 1px solid red; */
    text-align: center;
    justify-content: center;
} 
#lower-section .lower-content .lower-head {
    width: 1280px;
    height: 112px;
    margin:80px 40px 24px 40px ;   
    /* border: 1px solid red; */
    align-items: center;

}
#lower-section .lower-content .lower-head h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 100%;
    color:rgba(0, 25, 49, 1);
    margin-bottom: 16px;
}
#lower-section .lower-content .lower-head p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color:#627382;
    /* margin-bottom: 16px; */
} 
#lower-section .lower-content .lower-body {
    /* border: 1px solid blue; */
    height:50px ;
    width:1200px ;
    margin: 0 40px 60px 40px;
    align-items: center;
    text-align: center;
} 
.hight{
    margin-top: 15px;
}
#lower-section .lower-content .lower-body {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color:#627382;

}      


                     /* /* my footer section * */
#footer {
    margin-top: 50px;
    height:300px ;
    width: 1520px;
    /* border: 2px solid red; */
    background-color: #001931;
}
.footer-head {
    margin: 50px 80px ;
    height: 64px;
    width:1200px ;
    /* border: 2px solid white; */
    display: inline-flex;
    justify-content: space-between;  
}
.footer-head h2{
    color: white;
}
.all-social-link{
    display: flex;

}
.all-social-link a {
    color: white;
}
#footer #p {
    color: white;
    text-align:center;
}



